
<div>
    <div class="col-md-3">
        <div class="leftColumn"></div>
    </div>
    <div class="col-md-6">
        <div class="MainColumn">
            <table>
                <tr *ngIf="person">
                    <td>

                        <table>
                            <tr>
                                <td>{{ person.FirstName }}</td>
                            </tr>
                            <tr>
                                <td>{{ person.LastName }}</td>
                            </tr>
                            <tr>
                                <td>{{ person.Email }}</td>
                            </tr>
                            <tr>
                                <td>{{ person.Address }}</td>
                            </tr>
                            <tr>
                                <td>{{ person.City }}</td>
                            </tr>
                            <tr>
                                <td>{{ person.County }}</td>
                            </tr>
                            <tr>
                                <td>{{ person.PersonID }}</td>
                            </tr>
                            <tr>
                                <td>{{ person.State }}</td>
                            </tr>
                            <tr>
                                <td>{{ person.Zip }}</td>
                            </tr>


                        </table>
                        
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rightColumn"></div>
    </div>
</div>
