<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{website}}</a>
        </div>
        <ul class="nav nav-pills pull-right">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/personSearch" routerLinkActive="active">Search By Name</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        </ul>
    </div>
</nav>
<div class="container col-md-6 col-lg-offset-3">
    <router-outlet></router-outlet>
</div>